.filter-select-tag-container {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.filter-select-tag-container select{
  padding: 5px;
  font-size: 1rem;
  width: 275px;
  border-radius: 7px;
}

@media screen and (max-width: 850px) {
  .filter-select-tag-container select{
  padding: 5px;
  font-size: 1rem;
  width: 200px;
}
}

@media screen and (max-width: 700px) {
  .filter-select-tag-container select{
  width: 300px;
}
}

@media screen and (max-width: 576px) {
  .filter-select-tag-container select{
  width: 100%;
}
}